
<div class='left-panel'>

      <a id="lobby" class="logo-display" (click)="golobby(0)">
        <div class = "our-logo" id="our-logo-banner">
        </div>
      </a>
      <a id="lobby" class="lobby-btn" (click)="login()">
      	<div class="lobby-btn-text">
      		BetApp!
      	</div>
      </a>
      
        <a id="lobby" class="lobby-btn" (click)="golobby(0)" style= "background: #94dc90">
        	<div class="lobby-btn-text">
      		 Game Browser
      		</div>
        </a>




</div>

